---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thank You">
  <h1>Thank You!</h1>
  <p>We have received your details. Our team will contact you soon.</p>
  <a href="/">Go back to Home</a>
</Layout>
